@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(7, 30, 75);
  background: #f5f6f7;
  font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(7, 30, 75);
}
.Todo-section {
  padding: 2rem 0;
}
.container {
  width: 100%;
  max-width: 728px;
  margin: auto auto;
}

.header-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  
}
.Card-list {
  background: #fff;
  box-shadow: 0 5px 12px rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.Card {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.25rem;
  position: relative;
}
.Card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card-info, .Card-edit-from-wrap{
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
}
.Card + .Card {
  border-top: 1px solid #e1e1e1;
}

.Card--text h2 {
  color: rgb(7, 30, 75);
  text-transform: capitalize;
}

.Card--button {
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  margin-right: 1rem;
}
.Card--button:hover {
  background-color: ;
}
.Card--button:last-child {
  margin-right: 0;
}
.Form {
  display: flex;
  padding: 1.25rem;
  background: #fff;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 12px rgb(0 0 0 / 15%);
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input,
.Edit-form input {
  background: #f5f6f7;
  padding: 1rem 1.25rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: block;
  outline: none;
  font-size: 1.5rem;
  flex-basis: 100%;
  margin-right: 0.5rem;
  font-family: inherit;
}

.Form button,
.Edit-form button {
  background-color: rgb(239, 106, 108);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}
.edit---button {
  background-color: rgb(7, 30, 75);
  border: 1px solid rgb(7, 30, 75);
}
.delete---button {
  background-color: rgb(255, 197, 61);
  border: 1px solid rgb(255, 197, 61);
}
.hide-button {
  display: none;
}

.Edit-form {
  display: inline-flex;
  padding-top: .5rem;
}
.Edit-form input, .Edit-form button  {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
